%table{ :border => 1, :cellspacing => 0, :cellpadding => 0 }
  %tr
    %td -
    - 15.times do |i|
      %td= i
  - @images.each_with_index do |row, i|
    %tr
      %td= i
      - row.each_with_index do |img, j|
        %td
          %img{ :src => "data:image/gif;base64,#{img}" }

- content_for :styles do
  :plain
    td { font-size: 10px; line-height: 10px;}
