%table{ :border => 1, :cellspacing => 0, :cellpadding => 0 }
  - @images.each_with_index do |row, i|
    %tr
      %td= i
      - row.each_with_index do |img, j|
        %td
          - if @colors[i][j].nil? || String === @colors[i][j]
            &nbsp;
          - else
            %img{ :src => "data:image/gif;base64,#{img}" }
            =# @colors[i][j]
