%table{ :border => 1, :cellspacing => 0, :cellpadding => 0 }
  - @images.each_with_index do |row, index|
    %tr
      %td
        = index
      - row.each_with_index do |img, index|
        %td
          %img{ :src => "data:image/gif;base64,#{img}" }
